* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 105%;
  overflow-x: hidden;
  background: rgb(58, 53, 53);
  height: 100vh;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
}
/* h3{
  color: #ebbba0;
  font-size: 2.8vh;
} */

h5 {
  color: #e8e9e9;
}

.avi {
  width: 95px;
  height: 101px;
  position: relative;
  left: -5%;
  top: 6%;
  padding-bottom: 11px;
  /* object-position:50% 35%;
  object-fit: scale-down; */
}

#contact-text {
  color: #d3b99d;
  text-decoration: none;
}
.about-container {
  text-align: center;
  margin: 0 auto;
  color: rgb(59, 60, 60);
  position: relative;
  /* top: vh; */
}

/* #read-more {
  display: none;
} */

.about-speel {
  width: 35%;
  margin: 0 auto;
  float: right;
  position: relative;
  left: -15%;
  padding-top: 65px;
  line-height: 260%;
  font-size: 13px;
}

.email-link-about {
  text-decoration: none;
  color: rgb(205, 190, 178);
  font-weight: bold;
  font-size: 1.8vh;
  position: relative;
}

#im-emma {
  font-size: 2.6vh;
  color: rgb(77, 45, 42);
  font-family: OCR A Std, monospace;
  font-weight: bold;
  text-align:center; 
}

.main-container {
  height: 100vh;
  /* padding-top: 100px; */
}

.me {
  padding: 20px;
  color: rgb(210 194 194);
  font-size: 24px;
  position: relative;
  display: inline-block;
  width: 90%;
  /* top: 4vh; */
}

.me-div {
  display: inline-block;
  width: 200%;
  height: 10%;
}

#me-photo {
  /* display: inline-block; */
  width: 20%;
  position: relative;
  float: left;
  display: block;
  /* height: 10%; */
  left: 20%;
  top: 8.5vh;
  overflow-y: hidden;
  object-position: 19px 4px 8px;
}
/* About */

/* Nav */
.nav-container {
  /* position: fixed; */
  top: 0;
  /* z-index: 1; */
  display: flex;
  /* background: rgb(43, 16, 73); */
  flex-direction: column;
  padding: 1.7rem;
  /* align-items: center; */
  /* box-shadow: 2px 2px 4px gray; */
  justify-content: space-between;
  /* width: 100%; */
  /* height: 13vh; */
}

.nav-container.active {
  background: fff;
  height: 9vh;
  border-radius: 2px;
}

.logo {
  font-family: "Acme", sans-serif;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.735);
  cursor: pointer;
}

.link {
  list-style-type: none;
  /* float: left; */
  padding: 5px;
}

.nav-links {
  color: rgb(223, 217, 226);
  text-decoration: none;
  /* cursor: pointer; */
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  line-height: 9.1vh;
  margin: 0.8rem;
}

.anchor {
  position: relative;
  top: 30%;
  font-size: 18px;
}
.nav-links .anchor:hover {
  color: white;
}

#skyline {
  /* position: relative; */
  width: 100%;
  height: 100%;
  filter: opacity(65%);
}
.anchor.active {
  color: #aa9a8e;
  font-weight: 800;
  border-bottom: 2px solid rgba(203, 198, 210, 0.865);
}

.menu-icon {
  display: none;
}

/* Home */
.home-container {
  font-family: "Varela Round", sans-serif;
  /* display: inline-block; */
  color: rgba(255, 255, 255, 0.836);
  background-size: cover;
  background-image: url(./images/pinkskyline.jpeg);
  background-blend-mode: lighten;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-size: 34px;
  opacity:0.9
}

.content-container {
  width: 50vw;
  height: 100%;
  flex-direction: column;
  display: flex;
  margin-top: 3rem;
  position: relative;
  z-index: 3;
  left: 290px;
  /* top: 100px;  */
}

.main-content {
  font-size: 3.2rem;
  position: relative;
  z-index: 2;
  font-family: OCR A Std, monospace;
  text-align: center;
  letter-spacing: 10px;

}

.skill-content {
  margin: 0.6rem 0;
  color: #cdb3a7;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.skill-animation {
  height: 60px;
  width: 100%;
  margin: 1rem 0;
}

.hand {
  display: inline-block;
  margin: 0.9rem;
  cursor: pointer;
}

.svg {
  object-position: 0 90%;
  object-fit: scale-down;
  /* width: 2190px; */
}

.email-heading {
  font-size: 25px;
}

.sm-heading {
  font-size: 25px;
}

.phone-heading {
  font-size: 25px;
}

.welcome-content {
  color: gray;
}

#res-link {
  text-decoration: none;
  color: white;
}
#resume-text {
  color: rgb(219 187 166);
}

.svg-container {
  margin-top: 1.5rem;
  width: 50vw;
  height: 36rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.svg {
  height: 99%;
  width: 39%;
  margin-bottom: -65px;
  margin-top: -2px;
}

/* Services */

.services-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  font-family: "Exo 2", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  padding: 2rem;
}
.services-container {
  margin-top: 8rem;
}

.services-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 4rem;
  top: 450px;
  height: 30vh;
  flex-wrap: wrap;
  flex-direction: row;
  top: 300px;
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  text-align: center;
  /* background: #e7dddd5c; */
  margin: 1rem;
  /* box-shadow: 0 10px 10px -14px rgba(0,0,0,.2); */
  box-shadow: 3px 2px 10px gray;
  height: 9rem;
  border-radius: 20px;
  padding: 3rem;
  text-align: center;
}

.services:hover {
  border: 1px solid gray;
}

.services img {
  height: 3.7rem;
}

.services li {
  list-style-type: none;
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

/* Skills */

.skills-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: rgb(187, 187, 187);
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

.skills-container h1 {
  margin: 2rem 0;
}
.skills-img {
  width: 70px;
  height: 70px;
}
.techs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* background: #e7dddd5c; */

  box-shadow: 3px 2px 10px rgb(164, 111, 54);
  min-height: 12rem;
  border-radius: 20px;
  padding: 3rem;
  flex-wrap: wrap;
  margin: 2rem;
  text-align: center;
}

.ruby-icon {
  width: 90px;
  height: 90px;
  mix-blend-mode: multiply;
}

.techs:hover {
  border: 1px solid gray;
}

.techs i {
  margin: 1.1rem;
  font-size: 4.8rem;
}

.techs li {
  list-style-type: none;
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.techs .html {
  color: rgb(204 78 29);
}

.techs .css {
  color: #5898dc;
}

.techs .javascript {
  color: #ecec1c;
}

.techs .bootstrap {
  color: #9300ff;
}

.techs .sass {
  color: #ea00ff;
}

.techs .react {
  color: #29c2ff;
}

.techs .typescript {
  color: #042f67;
}

.techs .python {
  color: #82e1ff;
}

/* Portfolio */
.portfolio-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

.portfolio-container h1 {
  margin: 3rem 0;
}

.projects-container {
  min-height: 60vh;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects {
  height: 23rem;
  width: 21rem;
  margin: 1rem;
  /* background: #e7dddd5c; */
  box-shadow: 3px 2px 10px gray;
  cursor: pointer;
  border-radius: 10px;
}

.project-images {
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #edbaa8;
  height: 70%;
}

/* Images */
#crimeSpotter {
  background-image: url("./images/crimes.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: 50% 50%;
  /* width: 500px;
  height: 500px; */
}

#railsApp {
  background-image: url("./images/railsapp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* width: 500px; */
  /* height: 500px; */
  /* padding: 30px; */
}

#sportikus {
  background-image: url("./images/sportikus.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* width: 500px;
  height: 500px; */
  padding: 30px;
}

#filmFlix {
  background-image: url("./images/filmflix.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 46% 50%;
  /* width: 500px;
  height: 500px; */
  padding: 30px;
}

#perfumery {
  background-image: url("./images/perfumery.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 46% 50%;
  /* width: 500px;
  height: 500px; */
  padding: 30px;
}

.project-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
}

.project-links .text {
  width: 100%;
  height: 80%;
  color: #ebbba0;
  font-family: "Varela Round", sans-serif;
  font-size: 1.4rem;
  /* padding: 10vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-links .icons {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons #github {
  background-color: rgb(51, 51, 51);
}

.icons #github:hover {
  background-color: rgb(15, 15, 15);
}

.icons #live {
  background-color: rgb(16, 88, 16);
}

.icons #live:hover {
  background-color: rgb(16, 65, 88);
}

.icons i {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  position: relative;
  text-align: center;
  user-select: none;
  width: 2.6rem;
  border-radius: 2.6rem;
  margin: 0px 5px 10px;
  transition: all 0.2s ease-in 0s;
}

/* Achievements */
.achievements-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

/* Images */
#reactBasic {
  background-image: url("./images/certificates/ReactBasic\(HackerRank\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#html5 {
  background-image: url("./images/certificates/html5.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#git {
  background-image: url("./images/certificates/Git.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#ciscoPython {
  background-image: url("./images/certificates/PCAP\ \(Certified\ Associate\ in\ Python\ Programming\).png");
  background-size: cover;
  background-repeat: no-repeat;
}

#specPython {
  background-image: url("./images/certificates/specialization.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-div {
  display: block;
}
/* Contact */
.contact-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: rgb(187, 187, 187);
  font-size: 1.3rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
}

/* .profile-image {
  margin: 1rem;
  box-shadow: 6px 6px 10px gray;
  width: 170px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url("./images/junaid.png");
  background-size: cover;
  height: 170px;
} */

.cards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.cards {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  box-shadow: 3px 2px 10px gray;
  border-radius: 20px;
  flex-direction: column;
  width: 30rem;
  /* background: #e7dddd5c; */
  height: 9rem;
  margin: 1rem;
  padding: 1rem 0;
}

.cards:hover {
  border: 1px solid gray;
}

.contact-icons {
  display: flex;
  align-items: center;
  width: 100%;
  height: 33.33%;
  text-align: center;
  justify-content: center;
}

.contact-text {
  display: flex;
  margin-top: 0.7rem;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  height: 33.33%;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

.contact-links {
  margin-top: 0.7rem;
  display: flex;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  width: 90%;
  height: 33.33%;
  align-items: center;
  justify-content: center;
}

.contact-links > span {
  display: block;
}

.contact-links i {
  cursor: pointer;
  margin: 0.3rem;
  display: block;
  font-size: 1.3rem;
  position: relative;
  text-align: center;

  padding: 0.1rem;

  user-select: none;
}

.contact-links a {
  text-decoration: none;
}

.contact-links i:hover {
  box-shadow: 2px 2px 4px gray;

  border-radius: 20%;
}

.contact-links #github {
  color: rgba(0, 0, 0, 0.884);
}

.contact-links:hover #github {
  color: rgb(0, 0, 0);
}

.contact-links #facebook {
  color: rgba(28, 28, 231, 0.938);
}

.contact-links:hover #facebook {
  color: rgb(28, 28, 231);
}

.contact-links #instagram {
  color: rgba(214, 84, 45, 0.89);
}

.contact-links:hover #instagram {
  color: rgb(214, 84, 45);
}

.contact-links #linkedin {
  color: #3d8eb7ea;
}

.contact-links:hover #linkedin {
  color: #3d8eb7;
}

.contact-links #twitter {
  color: #00b7fff1;
}

.contact-links:hover #twitter {
  color: #00b7ff;
}

.contact-icons i {
  color: #f35166;
  cursor: pointer;
  font-size: 1.7rem;
  position: relative;
  user-select: none;
  transition: all 0.2s ease-in 0s;
}

/* Footer */
.footer-container {
  font-family: "Exo 2", sans-serif;
  display: flex;
  color: rgb(155, 154, 154);
  font-size: 0.7rem;
  /* background: rgb(58, 55, 55); */
  padding: 2rem;
  border-top: 2px solid black;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 8vh;
}

.footer-container a {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;

  color: #c68f70;
  text-shadow: 1px 1px 1px black;
}

.footer-container a:hover {
  color: #a0714de7;
}

/* General */

.button:hover {
  background-color: #fff;
  color: #d7bfb9;
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

.button-link {
  text-decoration: none;
}

.button {
  background-color: #d3b99d;
  border: 1px solid #cdcdcd;
  color: rgb(22, 21, 21);

  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 13px 22px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  outline: none;
  margin-top: 3.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.home-text {
  position: relative;
  display: inline-block;
  width: 70%;
  left: 25%;
  color: rgb(67, 49, 60);
  letter-spacing: 1.2px;
  /* font-size: 34vh; */
}

.heading {
  margin: 2rem 0;
  font-family: OCR A Std, monospace;
  color: rgb(219 187 166);
  font-size: 2.5vh;
}

/* Media Queries */
/* 1150 Breakpoint */
@media screen and (max-width: 1300px) {
  .main-content {
    font-size: 2rem;
  }

  .avi {
    width: 9%;
    height: 300%;
    left: -90px;
    top: 20%;
  }

  .anchor {
    padding: 14px;
    margin: 0.4rem;
    left: -18%;
    top: 19%;
    font-size: 1.1rem;
    font-weight: 200;
  }

  .nav-links {
    top: 90px;
    left: 40px;
  }

  .link {
    font-size: 0.5rem;
    padding: 10px;
  }
}

@media screen and (max-width: 1150px) { 

 
  .main-content {
    font-size: 2rem;
  }

  .avi {
    width: 9%;
    height: 300%;
    left: -90px;
    top: 20%;
  }

   .anchor  {
   padding: 14px;
   margin: 0.4rem;
   left: -18%; 
   top: 19%;
   font-size: 1.1rem;
   font-weight: 200;
   } 

    .nav-links {
    top: 90px;
    left: 40px;
   } 

   .link{
    font-size: 0.5rem;
  }



  #me-photo {
    /* display: inline-block; 
width: 20%;
    position: relative;
    float: right;
    display: block;
    height: 40%;
    top: -80vh;           
overflow-y: hidden;                                  */
 } 

.about-speel {
    color: rgba(218, 212, 203, 0.911);
    width: 50%;
    font-size: 2vh;
    left: -5vh;
  }
  .nav-links {
    color: rgb(201, 191, 201);
  }
  .avi {
    width: 7%;
    height: 60%;
    left: 90%;
    top: 25%;
    position: absolute;
  }
  .home-container {
    flex-direction: column;
    position: relative;
    z-index: -2;
  }
  .content-container {
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  .svg-container {
    position: relative;
    top: -39%;
    left: 49%;
    padding: -77px;
  }

  .content-container {
    position: relative;
    left: 7%;
    top: 9%;
  }

} 

/*900 Mobile Nav Version */

@media screen and (max-width: 900px) {
  .avi {
    width: 95px;
    height: 101px;
    position: absolute;
    /* padding-top: 49px; */
    top: -17px;
    padding-bottom: 11px;
    /* object-position:50% 35%;
    object-fit: scale-down; */
  }

  h5 {
    color: #d7d4d6;
  }
  .nav-links {
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 300%; */
    /* min-height: 200px; */
    /* position: absolute; */
    /* padding: 30vh; */
    top: 78%;
    /* text-align: center; */
    /* align-items: center; */
    left: -30%;
    /* opacity: 1; */
    /* transition: all 0.5s ease; */
  }

  .nav-links.active {
    background: rgba(255, 255, 255, 0.911);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .menu-icon {
    /* display: none; */
    position: relative;
    margin: 0 1rem;
    font-size: 1.8rem;
    cursor: default;
  }

  .link {
    padding: 1.5vh;
  }

  .me {
    position: relative;
    text-align: center;
    margin: 0 auto;
    color: rgb(226, 202, 202);
  }

  .nav-links .anchor {
    /* display: block; */
    line-height: 9.1vh;
    width: 100vw;
    margin: 0.4rem;
    font-size: 1.2rem;
  }

  .anchor.active {
    color: white;
    font-weight: 800;
    border: none;
    background: rgba(0, 0, 0, 0.534);
  }

  .nav-links.active .anchor:hover {
    color: black;
  }
}

@media screen and (max-width: 700px) {
  .avi {
    width: 95px;
    height: 101px;
    position: relative;
    /* padding-top: 49px; */
    top: -17px;
    padding-bottom: 11px;
    /* object-position:50% 35%;
    object-fit: scale-down; */
  }
  .svg-container {
    margin-top: 1.5rem;
    width: 50vw;
    height: 36rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .svg {
    height: 60%;
  }
}

/* 550 */
@media screen and (max-width: 550px) {
  .content-container {
    font-size: 0.7rem;
  }

  .about-speel {
    font-size: 10px;
  }
  /* .main-content {
    font-size: 2rem;
  } */

  .skill-content {
    /* margin: 0.6rem 0; */
    font-size: 1.2rem;
  }

  .hand {
    font-size: 1.8rem;
  }

  .welcome-content {
    font-size: 0.7rem;
  }

  .anchor .link {
    font-size: 2vh;
    color: green;
  }
}

/* 500 */
@media screen and (max-width: 500px) {
  .svg {
    height: 40%;
  }

  /* .about-speel {
    font-size: 1.4vh;
    width: 50%;
    left: -7vh;
  } */

  /* #me-photo {
    top: -55vh;
    width: 20vh;
    height: 34vh;
    left: 33%;
  } */
}

/* 415 */

/* @media screen and (max-width: 415px) {
  .skill-content {
    font-size: 1rem;
  }
} */

/* 395*/

@media screen and (max-width: 395px) {
  .about-speel {
    width: 80%;
    font-size: 1.5vh;
    line-height: 2.4vh;
  }
  .main-container {
    height: 90%;
  }
  .main-content {
    font-size: 3.8vh;
    text-align: center;
    right: 15%;
  }

  .cards {
    width: 18rem;
    overflow: hidden;
  }

  .nav-links .anchor {
    line-height: 9.1vh;
    width: 100vw;
    margin: 0 auto;
    font-size: 0.7rem;
  }

  #im-emma {
    font-size: 2.2vh;
    right: 12%;
    position: relative;
  }

  .home-container {
    position: relative;
    height: 133vh;
    width: 57vh;
  }
  .heading {
    font-size: 1.3rem;
  }
  .button {
    font-size: 0.8rem;
  }

  .anchor .links .nav-links {
    font-size: 45vh;
  }
}
@media screen and (max-width: 295px) {
  .about-speel {
    font-size: 0.9rem;
    width: 245%;
    line-height: 19px;
    top: 1rem;
    right: 80vh;
    color: rgb(0, 255, 55);
    margin: 0 auto;
  }

  .projects {
    width: 60rem;
    height: 20rem;
  }

  .projects-container {
    width: 150%;
  }

  .cards {
    width: 88%;
    padding: 2rem;
  }
  #me-photo {
    margin: 0 auto;
    display: block;
    top: 8vh;
    width: 86%;
    height: 1 4%;
  }

  #resume-text {
    width: 150%;
    text-align: center;
    padding: 2rem;
  }

  #im-emma {
    
    padding: 2rem;
  }
}
